<div id="divBottom_Banner" class="ui-foot-banner" style="background: url(&quot;/data/images/common/footer/banner_bg.gif&quot;) 0px top repeat-x scroll;">
  <a id="a_Bottom_Banner" href="#" target="_blank">
    <img ga:ca="PWC-Main" ga:ac="푸터배너" id="img_Bottom_Banner" src="/data/images/common/footer/footer_banner.jpg" alt="최대10일">
  </a>
</div>
