# ESLint ignore patterns
# http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

node_modules/**/*
src/scripts/index/**/*
src/scripts/plugins/**/*
public/**/*
*.min.js

# Legacy Compatibility

scripts/plugins/**/*
