@charset "utf-8";

@import "../base/_reset";

html {
    height: 100%;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font: normal 62.5% "Helvetica Neue", Helvetica, AppleSDGothicNeo, sans-serif;
}

body {
    height: 100%;
    font-size: 1.3rem;
    display: block;
}
