---
pageName: 팝업 센터 띄우기
title: popUp
pageId: popUp
indexGroup: homework
styles:
  - /styles/pages/homework/popupCenter.css
state:
  default: 팝업 센터 띄우기
---
<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layouts/_head'); %>
</head>

<body>
  <!-- position fixed 사용 -->
  <div class="popupWrap01">
    <div class="popupContents01">
      레이어팝업
    </div>
  </div>
  <%- include('../layouts/_scripts'); %>
</body>

</html>
