---
pageName: 테이블 말줄임
title: ellipsis
pageId: ellipsis
indexGroup: homework
styles:
  - /styles/pages/homework/tableEllipsis.css
state:
  default: 테이블 말줄임
---

<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layouts/_head'); %>
</head>

<body>
  <!-- position fixed 사용 -->
  <div class="tableEllipsis">
    <table>
      <tr>
        <td></td>
        <td class="non">
          <p>
            <i>N</i>
            <span>또 한 번 메이저리그를 흔든 보라스[성일만 </span>
          </p>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
  <%- include('../layouts/_scripts'); %>
</body>

</html>
