---
title: 2018-04-27
indexGroup: sion
state:
  default: 20180427 workList
---
<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layouts/_head'); %>

  <style>
    * {
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
    }
    
    a {
      text-decoration: underline;
      color: red;
    }

    .work-wrap {
      margin: 10px;
    }

    .total-area:before {
      display: inline-block;
      content: "";
      width: 3px;
      height: 13px;
      background: rgb(7, 168, 160);
      vertical-align: middle;
    }

    .total-area {
      font-size: 14px;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(7, 168, 160);
      margin-bottom: 10px;
    }

    .total-area h1 {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
    }

    .total-area p {
      font-size: 14px;
      margin-right: 20px;
      display: inline-block;
      vertical-align: middle;
    }

    caption {
      font-size: 0;
      color: #fff;
    }

    .workList table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
    }

    .workList table thead th:first-child {
      border-left: 1px solid #ccc;
    }

    .workList table thead th {
      background: rgb(61, 61, 61);
      color: #fff;
      padding: 10px;
      border-left: 1px solid #fff;
      font-size: 12px
    }

    .workList table tbody tr:hover {
      background: rgb(238, 238, 238)
    }

    .workList table tbody td {
      padding: 10px;
      border: 1px solid #ccc;
      font-size: 12px
    }

    .workList table select {
      width: 100%;
      padding: 5px;
    }
  </style>
  <script>
    $(function() {
      var $tableEl = $('.workList tbody tr');
      var $conform = $('.conform');
      var $conformInput = $('.conform input[type=text]');
      var $complete = 0;
      var $all = $tableEl.length;
      

      $tableEl.each(function(idx,item) {
        $(item).find('td:first-of-type').append(idx + 1);

        $('#name').on('change', function(){
          var selecter = $('#name option:selected').val();
          var name = $(item).find('.name').text();

          if(selecter == name) {
            $(item).show().addClass('active');
          } else if (selecter == "작업자") {
            $(item).show().addClass('active');
          } else{
            $(item).hide().removeClass('active');
          }

          if($tableEl.hasClass('active')) {
            var $active = $tableEl.filter('.active').length;
            $('.select span').text($active);
          }
        });
      });

      $conform.each(function(idx,item) {
        var $conformTxt = $(this).text();
        if ($conformTxt === '완료') {
          $(this).length;
          $complete++;
        }
        var $link = $(this).siblings('.link');
        var $linkTxt = $link.text();
        if ($conformTxt === '완료') {
          $link.wrapInner('<a target="_blank" href='+$linkTxt+'></a>');
        }
      });

      var $percent = Math.floor($complete * 100 / $all);

      $('.complete span').text($complete);
      $('.total span').text($all);
      $('.percent span').text($percent);

      // $conformInput.keyup(function(e) { 
      //   if (e.keyCode == 13) {
      //   var $conformTxt = $(this).val();
      //   var $link = $(this).parent().siblings('.link');
      //   var $linkTxt = $link.text();
      //     if ($conformTxt === '완료' && $link.find('a').length === 0) {
      //       $link.wrapInner('<a target="_blank" href='+$linkTxt+'></a>');
      //     } else if ($link.find('a').length > 0 && $conformTxt !== '완료') {
      //       
      
      //     }
      //   }
      // });
    });
  </script>

</head>

<body>
  <div class="work-wrap">
    <div class="total-area">
      <h1>진행현황</h1>
      <p class="total">총 본수 :
        <span>
          <!-- 여기에 값 -->
        </span> PAGE</p>
      <p class="complete">완료 페이지 :
        <span>
          <!-- 여기에 값 -->
        </span> PAGE</p>
      <p class="percent">진척률 :
        <span>
          <!-- 여기에 값 -->
        </span> %</p>

        <p class="select">선택 수 :
          <span>
            <!-- 여기에 값 -->
          </span></p>
    </div>

    <%
      var data = [
        {
          "link": "http://www.naver.com",
          "name": "최시온",
          "conform": ""
        },
        {
          "link": "http://www.naver.com",
          "name": "변재근",
          "conform": "완료"
        },
        {
          "link": "http://www.naver.com",
          "name": "신용섭",
          "conform": "완료"
        },
        {
          "link": "http://www.naver.com",
          "name": "이연경",
          "conform": ""
        },
        {
          "link": "http://www.naver.com",
          "name": "최시온",
          "conform": "완료"
        },
        {
          "link": "http://www.naver.com",
          "name": "최시온",
          "conform": ""
        },
        {
          "link": "http://www.naver.com",
          "name": "이연경",
          "conform": "완료"
        }
      ]
    %>
    <div class="workList">
      <table>
        <caption>작업리스트</caption>
        <colgroup>
          <col width="*" />
        </colgroup>
        <thead>
          <tr>
            <th>No</th>
            <th>1Depth</th>
            <th>2Depth</th>
            <th>3Depth</th>
            <th>4Depth</th>
            <th>URL</th>
            <th>시작</th>
            <th>진행</th>
            <th>완료</th>
            <th>
              <select id="name">
                <option>작업자</option>
                <option>신용섭</option>
                <option>변재근</option>
                <option>이연경</option>
                <option>최시온</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="link"><%= data[i].link %></td>
            <td></td>
            <td></td>
            <td class="conform"><%= data[i].conform %></td>
            <td class="name"><%= data[i].name %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
