<div id="floating_step1" style="display:none;">
              <img src="http://bimage.interpark.com/bookpark/2013/event/201312/131230/127_127.png" alt="" usemap="#float_banner">
              <map name="float_banner">
                <area shape="circle" coords="58,59,54" href="javascript:;" alt="go"/>
                <area shape="rect" coords="89,109,102,124" href="javascript:hideEvent();" alt="close"/>
              </map>
            </div>
