<div id="sky_wrapper">
  <div class="sky_wrap sky_wrap_close">
    <% if(state === 'rightLogin') { %>
    <div class="login_box">
      <h3><img src="http://bimage.interpark.com/renewPark/reBookpark/aside/quickMenu/tit_login.png" alt="LOGIN" /></h3>
      <p class="sky_txt">반갑습니다.<br />로그인해주세요</p>
      <a href="#" class="btn_login_box">로그인</a>
    </div>
    <% } else { %>
    <div class="login_box login_on">
      <p class="sky_txt">홍길동님<br /><span class="level">다이아몬드회원</span></p>
      <a href="#" class="btn_login_box">주문내역보기</a>
      <div class="myBenefit">
        <a href="#">아이포인트</a>
        <a href="#">나의하트</a>
      </div>
    </div>
    <% } %>
    <div class="content_wrap">
      <div id="interpark-rightfloatlayer">
        <a href="#" class="book_gift">도서상품권 <strong>3장</strong></a>
        <div class="accordion-wrap">
          <ul class="sky_list">
            <li class="book_cart">
              <a class="accordion_title" href="#">북카트 <strong>(15)</strong></a>
              <div class="accordion_content">
                <!-- <div class="no_reuslt">북카드에<br />담겨진 상품이<br />없습니다.</div>  -->
                <div class="slick-listWrap">
                  <div class="listWrap"><!-- 20150508 추가 -->
                    <div>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/4/4/4/5/238284445o.jpg" alt="" /></a>
                    </div>
                    <div>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/4/4/4/5/238284445o.jpg" alt="" /></a>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                    </div>
                    <div>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                    </div>
                  </div>
                  <!-- 20150508 페이징 추가 -->
                  <div class="pagingWrap">
                    <button type="button" class="slick-prev">Previous</button>
                    <span class="paging"><strong>1</strong>/5</span>
                    <button type="button" class="slick-next">Next</button>
                  </div>
                  <!-- // 20150508 페이징 추가 -->
                  <a href="#" class="btn_allView">전체보기</a>
                </div>
              </div>
            </li>
            <li class="history">
              <a class="accordion_title" href="#">오늘 본 상품 <strong>(10)</strong></a>
              <div class="accordion_content">
                <!-- <div class="no_reuslt">오늘 본 상품이<br />없습니다.</div> 결과없을때 -->
                <!-- slick-listWrap start -->
                <div class="slick-listWrap">
                  <!--
                  <button type="button" class="slick-prev">Previous</button>
                  <button type="button" class="slick-next">Next</button>
                  -->
                  <div class="listWrap"><!-- 20150508 추가 -->
                    <div>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                    </div>
                    <div>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/4/4/4/5/238284445o.jpg" alt="" /></a>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                    </div>
                    <div>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                      <a href="#"><img src="http://bimage.interpark.com/goods_image/6/0/1/0/237366010o.jpg" alt="" /></a>
                    </div>
                  </div>

                  <!-- 20150508 페이징 추가 -->
                  <div class="pagingWrap">
                    <button type="button" class="slick-prev">Previous</button>
                    <span class="paging"><strong>1</strong>/5</span>
                    <button type="button" class="slick-next">Next</button>
                  </div>
                  <!-- // 20150508 페이징 추가 -->
                </div>
                <!-- // slick-listWrap end -->
              </div>
            </li>
          </ul>
        </div>
        <div class="banner_wrap">
          <% if(state === 'rightWeekBan') { %>
          <a href="#" target="_self" class="weekBanner">
            <img class="ban1" src="/images/thumbnail/ban_weekSpecial.png" alt="ban_weekSpecial" />
          </a>
          <% } %>
          <a href="#" target="_self" class="longBanner">
            <img class="ban1" src="http://bimage.interpark.com/milti/bookPark/advertise/adImg/nadImg63183.jpg" alt="" />
          </a>
          <a href="#" target="_self" class="shortBanner">
            <img class="ban1" src="http://bimage.interpark.com/renewPark/reBookpark/aside/quickMenu/banner_01.png" alt="" />
          </a>
        </div>
      </div>
      <div class="bottom_goTop">
        <a href="#" class="rightbar_gotop"><span>TOP</span></a>
      </div>
    </div>
    <!--<div class="sky_quick_open"><a href="#"><span>닫기</span></a></div>-->
    <div class="sky_quick_open"><a href="#" class="hidden"><span>열기</span></a></div>

    <!-- <div class="rSlideWrap">
        <div id="rightSlide" class="on">
          <div style="margin-left: 0px; width: 44px;" id="typesmall" class="bookpark-Slide">
          <iframe src="" style="display:none; width:0px; height:0px; overflow:hidden;"></iframe>
          <div class="rSlide-left"><a class="left-btn bull"></a></div>
          <div class="rSlide-right">
              <div class="right-big">
                <img src="http://bimage.interpark.com/bookpark/2015/event/201504/150430/rightSlide_150430.jpg" usemap="#rightSlide_map">
              </div>
            </div>
          </div>
        </div>
    </div> -->
  </div>
</div>
