<div id="quick_wLeft">
  <div id="sky_newMainLeft">
    <div class="mOverBanner" id="banner_leftBook">
      <div class="picBox">
        <span class="mk_ad"></span>
        <p class="picImg">
          <span class="bookShadow"></span>
          <a href="#">
            <img src="http://bimage.interpark.com/milti/renewPark/main/102785_201606130902488370.jpg" alt="좌측상단배너이미지" class="bd">
          </a>
        </p>
      </div>
      <div class="infoImg">
        <a href="#"><img src="http://bimage.interpark.com/renewPark/reBookpark/aside/main_quickMenu/bt_mOberBan.png" class="bd" alt=""></a>
      </div>
    </div>
    <div class="mainLeftBannerLayer" id="mLeftBanner" style="display: block;">
      <span class="btBox" id="hide_leftBook">
        <a href="#" onclick="javascript:hideIssueMain();" class="bt_lyToday"></a>
        <a href="#" onclick="javascript:closeSkyLeftBanner();return false;" class="bt_lyClose"></a>
      </span>

      <div class="imgBox" id="skyLeftTopBannerBigImg">
        <a href="javascript:;" target="_self">
          <img src="http://bimage.interpark.com/UI/pc/main/2016/temp/bnr_cutton.jpg" alt="좌측상단배너큰이미지">
        </a>
      </div>
    </div>
    <div class="leftWriterBanWrap">
      <p>
          <a href="javascript:;" target="_blank"><img src="http://bimage.interpark.com/milti/renewPark/main/68022_201606131724069531.png" alt=""></a>
      </p>
    </div>
    <div class="leftRollBanWrap">
      <ul class="banList">
        <li id="skyLeftMiddleBannerId1" class="skyLeftMiddleBannerClass" style="display:none;">
          <a href="javascript:;" target="_self">
            <img src="http://bimage.interpark.com/milti/renewPark/main/86260_201604111743053651.jpg" alt="좌측상단배너이미지1">
          </a>
        </li>
        <li id="skyLeftMiddleBannerId2" class="skyLeftMiddleBannerClass" style="display:none;">
          <a href="javascript:;" target="_self">
            <img src="http://bimage.interpark.com/milti/renewPark/main/86260_201606130925173520.jpg" alt="좌측상단배너이미지2">
          </a>
        </li>
        <li id="skyLeftMiddleBannerId3" class="skyLeftMiddleBannerClass" style="">
          <a href="javascript:;" target="_self">
            <img src="http://bimage.interpark.com/milti/renewPark/main/86260_201508101032515190.jpg" alt="좌측상단배너이미지3">
          </a>
        </li>
      </ul>
      <div class="btBox">
        <a href="javascript:;" class="bt_pre" onclick="moveSkyLiftMiddleBannerList('pre');return false;"></a>
        <a href="javascript:;" class="bt_next" onclick="moveSkyLiftMiddleBannerList('next');return false;"></a>
      </div>
    </div>
    <div class="In_LeftSky">
      <a href="javascript:;" target="_blank">
        <img src="http://bimage.interpark.com/milti/renewPark/main/84338_201606130846248410.png" alt="">
      </a>
    </div>
  </div>
</div>
