<div id="upper_banner100per" style="background-color: rgb(83, 88, 92);">
  <div class="upper_100Wrap" style="background: url(http://bimage.interpark.com/milti/renewPark/main/95405_201606130934285132.jpg) no-repeat center top;">
      <div class="upperBan_960Center">
          <a href="#" onclick="$('#upper_banner100per').remove();return false;" class="close" title="닫기"></a>
          <div class="ttiBan_imgBox1">
              <a href="http://book.interpark.com/event/Event2016.do?_method=ClosingFirstHalfEventMain&amp;bid1=N_main&amp;bid2=gnb&amp;bid3=barTOP&amp;bid4=001" target="_self"><img src="http://bimage.interpark.com/milti/renewPark/main/95405_201606130934284961.jpg" alt=""></a>
          </div>
          <div class="ttiBan_imgBox2">
              <a href="http://book.interpark.com/event/Event2016.do?_method=NowGiveVouchersEventMain&amp;bid1=N_main&amp;bid2=gnb&amp;bid3=barTOP&amp;bid4=002" target="_self"><img src="http://bimage.interpark.com/milti/renewPark/main/95405_20160523100318270.jpg" alt=""></a>
          </div>
      </div>
  </div>
  <div class="upper_patten100per" style="background-color:#938e88;"></div>
</div>
