
  <div id="quick_wLeft">

    <!-- Event-->
    <div id="sky_eventLeft">
      <div class="eventSky_banner">
        <ul>
          <li>
            <img src="http://bimage.interpark.com/renewPark/reBookpark/aside/quickMenu/h1_hot_event.gif" alt="">
          </li>
          <li class="banner">
            <a href="#" target="_self">
              <img src="http://bimage.interpark.com/milti/renewPark/main/56804_201503091504373641.jpg" alt="">
            </a>
          </li>
          <li class="line"></li>
          <li class="banner" style="display: none;">
            <a href="#" target="_self">
              <img src="http://bimage.interpark.com/milti/renewPark/main/56808_201503091505389750.jpg" alt="">
            </a>
          </li>
          <li class="banner" style="display: none;">
            <a href="#" target="_self">
              <img src="http://bimage.interpark.com/milti/renewPark/main/56808_201502251726522180.jpg" alt="">
            </a>
          </li>
          <li class="banner" style="display: none;">
            <a href="#" target="_self">
              <img src="http://bimage.interpark.com/milti/renewPark/main/56808_201503160905165321.jpg" alt="">
            </a>
          </li>
          <li class="banner" style="display: none;">
            <a href="#" target="_self">
              <img src="http://bimage.interpark.com/milti/renewPark/main/56808_20150309160022901.jpg" alt="">
            </a>
          </li>
          <li class="banner" style="display: ;">
            <a href="#" target="_self">
              <img src="http://bimage.interpark.com/milti/renewPark/main/56808_201412191135292540.jpg" alt="">
            </a>
          </li>
          <li>
            <div  class="rollBtn">
              <a href="#" class="bt_off"></a>
              <a href="#" class="bt_off"></a>
              <a href="#" class="bt_off"></a>
              <a href="#" class="bt_off"></a>
              <a href="#" class="bt_on"></a>
            </div>
          </li>
        </ul>
      </div>

      <div class="partnerSale">
        <div class="tit">
          <img src="http://bimage.interpark.com/renewPark/reBookpark/aside/quickMenu/h1_pay_event.gif" alt="">
        </div>

        <div class="eventSky2_banner">
          <ul>
            <li class="banner" style="display:block;">
              <a href="#" target="_blank">
                <img src="http://bimage.interpark.com/milti/renewPark/main/73494_201501281537003700.jpg" alt="">
              </a>
            </li>
            <li class="banner" style="display:block;">
              <a href="#" target="_self">
                <img src="http://bimage.interpark.com/milti/renewPark/main/73494_201411201538176081.gif" alt="">
              </a>
            </li>
            <li class="banner" style="display:block;">
              <a href="#" target="_self">
                <img src="http://bimage.interpark.com/milti/renewPark/main/73494_201308141357148481.jpg" alt="">
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="In_LeftSky">
        <a href="#" target="_blank">
          <img src="http://bimage.interpark.com/milti/renewPark/main/84338_201503201410539742.jpg" alt="전사배너">
        </a>
      </div>
    </div>
    <!--// Event -->
  </div>
