$base-font: Arial, Helvetica, sans-serif;

$noto-font: "Noto Sans KR", "Malgun Gothic", "돋움", Dotum, $base-font;
$nanum-myeongjo-font: "Nanum Myeongjo", "Malgun Gothic", "돋움", Dotum, $base-font;
$nanum-gothic-font: "Nanum Gothic", "Malgun Gothic", "돋움", Dotum, $base-font;
$dotum-font: "돋움", Dotum, $base-font;
$gulim-font: "굴림", Gulim, $base-font;
$tahoma-font: "Tahoma", Dotum, $base-font;
$malgun-gothic-font: "맑은 고딕", "Malgun Gothic", "돋움", Dotum, $base-font;
