$base-font: Arial, Helvetica, sans-serif;

$system-font: -apple-system, system-ui, BlinkMacSystemFont, "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, sans-serif;
$dotum-font: "돋움", Dotum, $base-font;
$gulim-font: "굴림", Gulim, $base-font;
$tahoma-font: "Tahoma", Dotum, $base-font;
